[submodule "libs/haxeparser"]
	path = libs/haxeparser
	url = https://github.com/Simn/haxeparser.git
[submodule "libs/hxparse"]
	path = libs/hxparse
	url = https://github.com/Simn/hxparse.git
[submodule "libs/utest"]
	path = libs/utest
	url = https://github.com/haxe-utest/utest.git
[submodule "libs/mcover"]
	path = libs/mcover
	url = https://github.com/massiveinteractive/mcover.git
[submodule "libs/hxnodejs"]
	path = libs/hxnodejs
	url = https://github.com/HaxeFoundation/hxnodejs.git
